<main class="container-fluid mb-3">
    <h1 class="text-muted">
        <mat-icon class="mr-3">forum</mat-icon>
        {{ 'CONTACT.TITLE' | translate }}
    </h1>
    <mat-divider></mat-divider>

    <!-- Choix du destinataire -->
    <section *ngIf="!receiver" class="receiver-choice">
        <div class="row text-center">
            <div class="col-12 mt-3 px-1" [ngClass]="{'col-md-6': user?.role!=='admin'}">
                <div class="card" matRipple (click)="receiver = 'support'">
                    <div class="card-body text-muted">
                        <div class="card-title">
                            <mat-icon>build</mat-icon>
                        </div>
                        {{'CONTACT.SUPPORT_MESSAGE' | translate }}
                        <div class="card-subtitle color-primary h3 mt-2">
                            {{'CONTACT.SUPPORT_TITLE' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="user?.role!=='admin'" class="col-12 col-md-6 mt-3 px-3">
                <div class="card" matRipple (click)="receiver = 'admin'">
                    <div class="card-body text-muted">
                        <div class="card-title">
                            <mat-icon>settings_applications</mat-icon>
                        </div>
                        {{'CONTACT.ADMIN_MESSAGE' | translate }}
                        <div class="card-subtitle color-primary h3 mt-2">{{'CONTACT.ADMIN_MESSAGE' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Formulaire de contact -->
    <section *ngIf="receiver" class="form">
        <div class="card mt-3">
            <div class="card-body">
                <div *ngIf="!post; else forminfo" novalidate>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" class="form">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- Login -->
                                <mat-form-field class="form-element mt-3">
                                    <mat-label>{{ 'CONTACT.INPUT_LOGIN' | translate }}</mat-label>
                                    <input matInput disabled [value]="login.value">
                                    <mat-icon matPrefix class="mr-2">assignment_ind</mat-icon>
                                    <mat-error *ngIf="!login.valid && login.touched">
                                        {{ titleAlert | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Bouton retour au choix de destinataire -->
                            <div class="col-12 col-md-6 text-right">
                                <button mat-flat-button color="primary" (click)="receiver = ''">
                                    <mat-icon>reply</mat-icon>{{ 'CONTACT.BACK_BUTTON' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- Nom -->
                                <mat-form-field class="form-element mt-3">
                                    <input matInput placeholder="{{ 'CONTACT.INPUT_NAME' | translate }}"
                                        formControlName="name">
                                    <mat-icon matPrefix class="mr-2">person</mat-icon>
                                    <mat-error *ngIf="!name.valid && name.touched">
                                        {{ titleAlert | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <!-- Email -->
                                <mat-form-field class="form-element mt-3">
                                    <input matInput placeholder="{{ 'CONTACT.INPUT_EMAIL' | translate }}"
                                        formControlName="email">
                                    <mat-icon matPrefix class="mr-2">email</mat-icon>
                                    <mat-error
                                        *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email'].touched">
                                        {{ getErrorEmail() | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Prénom -->
                                <mat-form-field class="form-element mt-3">
                                    <input matInput placeholder="{{ 'CONTACT.INPUT_FIRSTNAME' | translate }}"
                                        formControlName="firstName">
                                    <mat-icon matPrefix class="mr-2">person</mat-icon>
                                    <mat-error *ngIf="!firstName.valid && firstName.touched">
                                        {{ titleAlert | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <!-- Téléphone -->
                                <mat-form-field class="form-element mt-3">
                                    <input matInput placeholder="{{ 'CONTACT.INPUT_PHONE' | translate }}"
                                        formControlName="phone">
                                    <mat-icon matPrefix class="mr-2">phone</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- Message -->
                                <mat-form-field class="form-element mt-3">
                                    <mat-label>
                                        <mat-icon class="mr-2">comment</mat-icon>
                                        {{'CONTACT.INPUT_MESSAGE' | translate }}
                                    </mat-label>
                                    <textarea matInput formControlName="message" maxLength="300" cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
                                        cdkAutosizeMaxRows="10"></textarea>
                                    <mat-error *ngIf="!message.valid && message.touched">
                                        {{ titleAlert | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-element mt-3 text-center">
                                    <button mat-raised-button color="primary" type="submit" class="button"
                                        [disabled]="!contactForm.valid">{{ 'CONTACT.INPUT_SUBMIT' | translate
                                        }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Résultat de soumission -->
                <ng-template #forminfo class="result">
                    {{ post | json }}
                </ng-template>
            </div>
        </div>
    </section>

</main>