<!-- <button (click)="testmock()">Test mock</button>
<button (click)="testnonmock()">Test non mock</button> -->

<main class="container pt-3 text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-12">
            <div class="card">
                <h1 class="card-title">{{ 'LOGIN.DASHBOARD' | translate }}</h1>
                Contenu
                <div class="card-footer">lol</div>
            </div>
        </div>
    </div>
</main>

<ngx-loading [show]="false"></ngx-loading>