<main>
    <div class="row">
        <div class="col-md-4">
            <h1>{{ 'PRODUCTS.TITLE' | translate }}</h1>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>{{ 'PRODUCTS.SEARCH_LABEL' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'PRODUCTS.SEARCH_PLACEHOLDER' | translate }}" (keyup)="search($event)">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <button mat-button class="d-none d-md-inline-block" matTooltip="{{ 'PRODUCTS.ADD_INFO' | translate }}" color="primary" (click)="newProductOpened = !newProductOpened">
                <mat-icon *ngIf="!newProductOpened">add</mat-icon>
                <mat-icon *ngIf="newProductOpened">remove</mat-icon>
                <strong class="ml-2">{{ 'PRODUCTS.ADD' | translate }}</strong>
            </button>
        </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <mat-card class="mb-3" *ngIf="newProductOpened">
        <h3>{{ 'PRODUCTS.ADD_PRODUCT.TITLE' | translate }}</h3>
        <app-add-product></app-add-product>
    </mat-card>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let product of searchResults">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ product.name }}
                </mat-panel-title>
                <mat-panel-description>
                    id : {{ product.id }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Price : {{ product.price}}€ - Quantity : {{ product.quantity }}</p>
            <p>{{ product.description }}</p>
        </mat-expansion-panel>
    </mat-accordion>
</main>

<button (click)="test()">TESt</button>