@import '../../../variables';

mat-sidenav {
  width: 250px;
}
mat-sidenav-content {
  padding-top: 1rem;
}
.icon-menu {
  position: absolute;
  top: 3px;
  button {
    color: #ffffff;
  }
}
mat-sidenav-container {
  min-height: 87.4vh;
}
