/**** Fonts ****/
@font-face {
    font-family: 'open_sans';
    src: url('assets/fonts/open-sans/OpenSans-Regular.woff') format('woff');
};
@font-face {
    font-family: 'caveat';
    src: url('assets/fonts/caveat/Caveat-Regular.woff') format('woff');
};
@font-face {
    font-family: 'Material Icons';
    src: url('assets/fonts/mat-icons/MaterialIcons-Regular.woff') format('woff');
};