@import 'variables';

// Material Contrast Generator : http://mcg.mbitson.com/
$md-overBoardtheme: (
    50: #e2f8f6,
    100: #b7ede8,
    200: #87e2d9,
    300: #57d6c9,
    400: #33cdbe,
    500: #0fc4b2,
    600: #0dbeab,
    700: #0bb6a2,
    800: #08af99,
    900: #04a28a,
    A100: #ccfff6,
    A200: #99ffed,
    A400: #66ffe4,
    A700: #4dffe0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-overBoardthemeaccent: (
    50 : #fff9e8,
    100 : #fff0c6,
    200 : #ffe6a1,
    300 : #ffdb7b,
    400 : #ffd45e,
    500 : #ffcc42,
    600 : #ffc73c,
    700 : #ffc033,
    800 : #ffb92b,
    900 : #ffad1d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffecce,
    A700 : #ffe2b4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);
$md-overBoardthemewarn: (
    50 : #fae1e1,
    100 : #f2b5b5,
    200 : #e98484,
    300 : #e05353,
    400 : #d92e2e,
    500 : #d20909,
    600 : #cd0808,
    700 : #c70606,
    800 : #c10505,
    900 : #b60202,
    A100 : #ffdfdf,
    A200 : #ffacac,
    A400 : #ff7979,
    A700 : #ff5f5f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: $font-regular
);

@include angular-material-typography($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat-palette($md-overBoardtheme);
$angular-accent: mat-palette($md-overBoardthemeaccent, A200, A100, A400);
$angular-warn: mat-palette($md-overBoardthemewarn);
 

// Create the theme object (a Sass map containing all of the palettes).
$angular-theme: mat-light-theme($angular-primary, $angular-accent, $angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-theme);

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga' 1;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
