@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/**** colors ****/
$color-primary: #0fc4b2;
$color-accent: #ffcc42;
$color-warn: #d20909;
$color-light: #eaeaea;

// https://materialtheme.arcsine.dev/
// pour la palette
// http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5

/*** colors Menu ***/
$color-menu-1: #04a28a;
$color-menu-2: #08af99;
$color-menu-3: #0bb6a2;
$color-menu-4: #0fc4b2;
$color-menu-5: #57d6c9;
$color-menu-6: #b7ede8;

$font-regular: "open_sans";
$font-main-title: "caveat";
