@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/**** colors ****/
$color-primary: #0fc4b2;
$color-secondary: #c4940f;

/*** colors Menu ***/
// $color-menu-1: 
// $color-menu-2: 
// $color-menu-3: 
// $color-menu-4: 
// $color-menu-5: 
// $color-menu-6: 

$font-regular: "open_sans";
