/**** Fonts ****/
@import 'assets/themes/fonts';

/**** Variables ****/
@import 'assets/themes/variables';

/**** Bootstrap ****/
@import "assets/themes/bootstrap";

/**** Material ****/
@import 'assets/themes/material';

* {
    font-family: $font-regular;
}

html, body { 
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

button:focus {
    outline: none;
}

.color-primary { color: $color-primary; }
.color-secondary { color: $color-secondary; }
.background-primary { background-color: $color-primary; }
.background-secondary { background-color: $color-secondary ;}