@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/**** Thème : Marque blanche ****/
$marque-blanche-theme: false !default;

/**** colors ****/
$color-primary: #0fc4b2;
$color-secondary: #ffcc42;

$color-light: #eaeaea;
$color-grey: #5e5e5e;
$color-dark: #222222;

$color-success: #10dc61;
$color-warning: #eb7507;
$color-danger: #bd1e0E;
$color-info: #4eb8ff;

/***
 Génération de palette 
 https://materialtheme.arcsine.dev/
 http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5
***/

/*** colors Menu ***/
$color-menu-1: #04a28a;
$color-menu-2: #08af99;
$color-menu-3: #0bb6a2;
$color-menu-4: #0fc4b2;
$color-menu-5: #57d6c9;
$color-menu-6: #b7ede8;

$font-regular: "open_sans";
$font-main-title: "caveat";

/*** MARQUE BLANCHE ***/
@if $marque-blanche-theme {
    $color-primary: #106317;
    $color-secondary: #c9198e;
}
